<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$ - E.A. Yavas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<main>
    <header>
        <h3>$title$</h3>
        <div class="nav-links">
            [ <a href="/">Home</a> ] &nbsp; 
            [ <a href="/blog">Blog Index</a> ]
        </div>
        <br>
        <div>$date$</div>
    </header>

    <hr>

    <div class="content-block">
        $body$
    </div>

    <hr>

    <footer>
        <a href="#">Scroll to top</a>
    </footer>

</main>

</body>
</html>
